---
interface Props { id: string; title?: string }
const { id, title } = Astro.props
---
<section id={id}>
  <div class="container">
    {title && <h2>{title}</h2>}
    <slot />
  </div>
</section>
<style>
  section { padding: var(--sp-huge) 0; }
  h2 { font-size: 28px; margin-bottom: var(--sp-lg); }
</style>
